<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @position.word_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @position.position %>
</p>

<p>
  <strong>Event:</strong>
  <%= @position.event_id %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
