<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Last run</th>
      <th>Next run</th>
      <th>Frequency</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.sort(:next_run).each do |job| %>
      <tr>
        <td><%= link_to job.name, job %></td>
        <td><%= link_to job.description, job %></td>
        <td><%= job.user.username %></td>
        <td><%= job.last_run %></td>
        <td><%= job.next_run %></td>
        <td><%= job.frequency %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
