<%= form_for(@hunk) do |f| %>
  <% if @hunk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hunk.errors.count, "error") %> prohibited this hunk from being saved:</h2>

      <ul>
      <% @hunk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
