<h1>Listing events</h1>
<%= form_tag :search_events do %>
<%= text_field_tag 'search_terms', "Search"%>
<%= submit_tag "Search" %>
<% end %>
<div>There are currently <%= number_to_human(@total_events) %> events available online made up of <%= number_to_human(@total_words) %> words spread over <%= number_to_human(@total_positions) %> fields.</div>
<div>Events range from <%= @first.generated %> to <%= @last.generated %></div>

<div id="big_picture_chart"></div>

<br>

<%= link_to 'New Event', new_event_path %>
