<h1>Listing events</h1>
<%= form_tag :search_events do %>
<%= text_field_tag 'search_terms', "Search"%>
<%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>System</th>
      <th>Service</th>
      <th>Generated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.system.name %></td>
        <td><%= event.service.name %></td>
        <td><%= event.generated %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
