<div>Elapsed time: <%= @search_time %> - <%= @events.count %> events match that search:</div>
<% @events.each do |event| %>
<p>
<%= event.system.display_name %>: <%= event.generated %> : 
<% event.positions.order(:position).each do |position| %>
	<%= position.word.text %> 
<% end %>
</p>
<% end %>
