<div id="alerts">
	<div id="alerts-header">
      <div>Generated</div>		
      <div>System</div>
      <div>Service</div>
	  <div></div>
	  <div></div>
	  <div>Comments?</div>
      <div></div>
	</div>

    <% @alerts.each do |alert| %>
      <div id='criticality-<%=alert.criticality%>'>
		<div><%=raw timestamp_helper(alert.generated) %></div>
        <div><%= alert.system.display_name unless alert.system.nil? %></div>
        <div><%= alert.service.name unless alert.service.nil? %></div>
        <div><%= link_to alert.short_description, alert %></div>
        <div><%= link_to 'Ack', acknowledge_alert_path(alert), remote: true %></div><div><%= alert.comments.count < 1 ? "" : "*"%></div>
      </div>
    <% end %>
</div>