<table>
  <thead>
    <tr>
      <th>Generated</th>		
      <th>System</th>
      <th>Service</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr id='criticality-<%=alert.criticality%>'>
		<td><%= alert.generated %></td>
        <td><%= alert.system.display_name unless alert.system.nil? %></td>
        <td><%= alert.service.name unless alert.service.nil? %></td>
        <td><%= link_to alert.short_description, alert %></td>
        <td><%= link_to 'Ack', acknowledge_alert_path(alert), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>