<p id="notice"><%= notice %></p>

<p>
  <strong>System:</strong>
  <%= @alert.system.display_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @alert.service.name %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @alert.criticality %>
</p>

<p>
  <strong>Generated:</strong>
  <%= @alert.generated %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @alert.closed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alert.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @alert.short_description %>
</p>

<% if !@alert.events.nil? do %>
  <% @alert.events.each do |event| @event = event %>
	<%= render partial: "/events/event_detail" %>
<% end  %>
<% end %>
<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
