<p id="notice"><%= notice %></p>
<div id='comments'>
	<h3>Analyst Comments</h3>
	<%= link_to "Add Comment", new_alert_comment_path(@alert) %>
	<% @alert.comments.each do |comment| %>
		<%= render comment %>
	<% end %>
</div>

<div id='criticality-<%=@alert.criticality%>'>
  <%= @alert.criticality_name %>
</div>

<p>
  <strong>System/Service:</strong>
  <%= @alert.system.display_name unless @alert.system.nil? %> /   <%= @alert.service.name unless @alert.service.nil? %>
</p>


<p>
  <strong>Generated:</strong>
  <%= @alert.generated %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @alert.closed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alert.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @alert.short_description %>
</p>

<% if !@alert.events.nil? %>
  <% @alert.events.each do |event| @event = event %>
	<%= render partial: "/events/event_detail" %>
<% end  %>
<% end %>
<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
