<%= form_for(@preference) do |f| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :liveEventsDisplayed %><br>
    <%= f.number_field :liveEventsDisplayed %>
  </div>
  <div class="field">
    <%= f.label :dashboardElements %><br>
    <%= f.text_field :dashboardElements %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
