<%= form_for(@display_field) do |f| %>
  <% if @display_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@display_field.errors.count, "error") %> prohibited this display_field from being saved:</h2>

      <ul>
      <% @display_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_id %><br>
    <%= f.number_field :display_id %>
  </div>
  <div class="field">
    <%= f.label :field_position %><br>
    <%= f.number_field :field_position %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
