<p id="notice"><%= notice %></p>

<p>
  <strong>Display:</strong>
  <%= @display_field.display_id %>
</p>

<p>
  <strong>Field position:</strong>
  <%= @display_field.field_position %>
</p>

<p>
  <strong>Title:</strong>
  <%= @display_field.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @display_field.order %>
</p>

<%= link_to 'Edit', edit_display_field_path(@display_field) %> |
<%= link_to 'Back', display_fields_path %>
