<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @right.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @right.description %>
</p>
<p>
	<strong>Assigned to roles:</strong>
	<ul>
	<% @right.roles.each do |role| %>
		<li><%= "#{role.name} ->#{role.description}"%>
	<% end %>
	</ul>
</p>
<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
