<h1>Listing searches</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th>User</th>
      <th>Description</th>
      <th>Short description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.string %></td>
        <td><%= search.user_id %></td>
        <td><%= search.description %></td>
        <td><%= search.short_description %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
