<h1>Listing systems</h1>
<div id="turbokiller" data-no-turbolink>
<table>
	<thead>
		<tr>
			<th>System</th>
			<th>Events in Last 24 Hours</th>
		</tr>
	</thead>
	<% reporting = Hash.new %>
	<% @reportingInLast24.each do |system| %>
	  <% reporting[system["system_id"].to_i]=system["count"] %>
	<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
	  <th>Monitor</th>
      <th>Events over last 24 hours</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.display_name, system %></td>
		<td><%= system.monitor %></td>
		<td><%= !reporting[system.id].nil? ? reporting[system.id] : "" %></td>
		<td style="height: 180px; width: 30%"><div id="<%=system.name%>_gauge"><center><br>Data<br>is<br>loading...</center></div>
		<td style="height: 180px; width: 50%"><div id="<%=system.name%>_graph"><center><br>Data<br>is<br>loading...</center></div>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="system-gauges"><!-- Draw gauges --></div>
<br>
</div>