
<div id="services_chart"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @system.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @system.description %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @system.administrator %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @system.contact_email %>
</p>

<p>
	<strong>Monitor:</strong>
	<%= @system.monitor %>
</p>
<div id="system-gauges"><!-- Draw gauges --></div>
<div id="<%=@system.name%>_gauge"><img src="/assets/spinner.gif"></div>
<div id="<%=@system.name%>_graph"><img src="/assets/spinner.gif"></div>
<%= # Commenting out for now.. javascript_include_tag "/systems/#{@system.id}.js" %>
<div id="events">
	<table>
		<% @events.each do |event| %>
		<tr><td><%= event %></td></tr>
		<% end %>
	</table>
</div>
<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
