
<div id="services_chart"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @system.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @system.description %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @system.administrator %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @system.contact_email %>
</p>

<p>
	<strong>Monitor:</strong>
	<%= @system.monitor %>
</p>

<%= javascript_include_tag "/systems/#{@system.id}.js" %>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
