<!DOCTYPE html>
<html>
<head>
  <title>DAD Log Aggregation and Monitoring</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<ul>
			<% $_models.each do |model| %>
			<li id="<%= is_active(model) %>"><%= link_to model, model.constantize %></li>
			<% end %>
		</ul>
	</div>
<%= yield %>
<div id="spinner"></div>
</body>
</html>
