<!DOCTYPE html>
<html>
<head>
  <title>DAD Log Aggregation and Monitoring</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<ul>
			<% $_models.select {|a| !a.include?("HABTM")}.each do |model| %>
			<% if !model.constantize.hidden?(@current_user) %><li id="<%= is_active(model.pluralize.downcase) %>"><%= link_to model, model.constantize %></li><% end %>
			<% end %>
			<li id="active_user"><%= link_to @current_user.nil? ? "No User" : @current_user.username, "#" %></li>
			<% if @current_user %>
				<li id="logoff"><%= link_to "Logoff", logoff_users_path %>
			<% end %>
		</ul>
	</div>
<p id="notice"><%= notice %></p>	
<%= yield %>
</body>
</html>
